
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="../../css/main.css">
        <link rel="stylesheet" href="../../css/bootstrap.min.css">
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>

    <link rel="stylesheet" type="text/css" href="../../css/metro-bootstrap.css">
    <link rel="stylesheet" href="../../docs/font-awesome.css">

        <script src="../../js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->


<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a href="../../" class="brand"  >MyHomePage</a>

                    <div class="nav-collapse collapse">
                           <!-- <li class="active"><a href="#">Home</a></li> -->
                           <% top_menu.each do |link| %>
                           <a href="../../<%=link[:menu_link] %>" class="btn btn-inverse " ><%= link[:menu_name] %> </a>
                           <% end %>

                         <div class="btn-group">
                          <button class="btn dropdown-toggle btn-inverse"><%= session["username"] %></button>
                          <button class="btn dropdown-toggle  btn-inverse" data-toggle="dropdown">
                            <span class="caret"></span>
                          </button>

                         <ul class="dropdown-menu">
                             <% if user_menu %>
                              <% user_menu.each do |link| %>
                                    <li><a href="<%=link[:menu_link] %>" ><%= link[:menu_name] %> </a> </li>
                                <% end %>
                            <% end %>
                             </ul> </div>

                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>


        <div class="container">

	  <div class="hero-unit">
                <h1>Добавете любимият си линк : </h1>
                <p>  <form class="navbar-form  navbar-search pull-left " action="/bookmark/<%= send_rq_to %>/<%= link_id %> " method="post">
                          <label for="title">Име на линк:  <input class="span2 search-query pull-right" type="text" placeholder="Име" name="title" id="title" value="<%= link_title %>"> </label> <br />
                            <label for="url">Линк :  <input class="span2 search-query pull-right" type="text" placeholder= "ЗАПОЧВАШ С http://" name="url" id="url" value="<%= link_source %>"> </label><br />

                              <button type="submit" class="btn btn-primary label label-info pull-right">Запамети</button> <br /></form>
                             <br/>


                </p>



                <p><br/>  <br /></p>
            </div>

         <!-- /container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../..//js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

        <script src="../..//js/vendor/bootstrap.min.js"></script>

        <script src="../..//js/main.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
